
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.dmypy.json
dmypy.json

poetry.lock

.env
.venv/
venv/
ENV/


pytest.ini  # ← только если содержит секреты; иначе можно коммитить
test_results/
reports/
allure-results/
allure-report/

/test-results/
/videos/
/screenshots/
/playwright-report/
blob-report/

/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea/
*.swp
*.swo

Thumbs.db
.hypothesis


.dockerignore
compose.override.yml  # ← если содержит локальные настройки
.env.local
.env.*.local

*.log
*.tmp
*.bak
*~